@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 19px;
	margin: 0;
}

body {
	display: flex;
}

header {
	font-size: xx-large;
	font-weight: bolder;
	margin: 1rem !important;
}

nav {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

nav header {
	border-bottom: 2px solid #000;
	margin: 0 !important;
	padding: 1rem 0;
	text-align: center;
}

.nav-container {
	list-style-type: none;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

.nav-container li {
	border-bottom: 2px solid #000;
	padding: 0 4em 1em 2em;
	margin: -1px 1em 1em -1px;
	width: 100%;
}

.nav-link {
	white-space: nowrap;
	text-decoration: none;
	color: #000;
}

p,
ul,
li,
code {
	margin: 1rem 2rem;
}

#main-doc {
	border-left: 3px solid #000;
	height: max-content;
}

#main-doc section {
	margin: 1rem;
}

@media (max-width: 1020.5px) {
	body {
		display: flex;
		flex-direction: column;
	}

	nav {
		border-top: #000 2px solid;
		border-bottom: #000 2px solid;
	}

	.nav-container {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 14rem;
	}
}
