@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 19px;
	margin: 0;
}

body {
	display: flex;
}

header {
	font-size: xx-large;
	font-weight: bolder;
	margin: 1rem !important;
}

nav {
	display: flex;
	flex-direction: column;
	width: 100%;
}

nav header {
	border-bottom: 2px solid #000;
	/* width: 25vw; */
	overflow-x: auto;
	margin: 1rem 0 0 0 !important;
	padding: 1rem 0;
	text-align: center;
}

.nav-link {
	inline-size: max-content;
	border-bottom: 2px solid #000;
	width: 100%;
	padding: 1rem 0;
	text-indent: 1rem;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

p,
ul,
li,
code {
	margin: 1rem 2rem;
}

#main-doc {
	border-left: 3px solid #000;
	height: 100vh;
	overflow: auto;
}

#main-doc section {
	margin: 1rem;
}
